<h1>Listing products</h1>

<table id= "products">
  <thead>  
    <tr>
      <th>Name</th>
      <th>System</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.system %></td>
      <td><%= product.grade %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
